body {
    margin: 0 auto;
    width: 1900px;
    background-color: #1c1c1c;

}
#main {
    margin: 0;
    width: 100%;
    font-family: Lato-bold;
}
@font-face {
    font-family: "Lato-bold";
    src: url(style/fonts/Lato-Bold.ttf);
}
header{
    margin: 0 auto;
    height: 210px;
}
#header-upper {
    margin: 0 auto;
    padding-left: 1170px; 
    width: 100%;
    height: 56px;;
    display: block;
    color: #ff3448;
}
#header-upper li a {
    color: #ff3448;
    padding-right: 40px;
    font-size: 16px;
}
#header-upper li a:hover {
    background-color: #1c1c1c; 
    color: white;
}
#header-span {
    padding-top: 13px;
    border-top: 2px solid #595959;
    width: 75%;
    text-align: center;
    display: block;
    align-content: center;
    margin:auto;
}
#header-span-upper {
    border-left: 2px solid #595959;
    display: inline-block;
    height: 35px;
    margin-top: 13px;
    margin-left: 11px;
}
#header-bottom {
    margin: 0;
    height: 95px;
    margin-left: 270px;
    width: 1500px;
    color: #ff3448;
}
.logo {
    display: inline-block;
    float: left;
}
.logo img {
    padding: 0;
    margin: 0;
    width: 220px;
}
#contact-upper {
    padding-right: 62px;
}
#contact-upper i {
    font-size: 35px;
    margin-left: 500px;
}
#header-bottom .phone {
    color: white;
    padding-left: 22px;
    margin-left: 22px;
    margin-top: 4px;
    font-size: 25px;
    padding: 0 20px 0 0;
    font-weight: bold;

}
#contact-upper h6 {
    color: gray;
    padding-top: 5px;
    margin-left: 270px;
    font-size: 16px;
    font-weight: bold;
}
#header-span-lower {
    border-left: 2px solid #595959;
    display: inline-block;
    height: 72px;
    padding-top: 3px;
}
#header-lower-right i {
    font-size: 30px;
    margin-bottom: 13px;
}
#header-lower-right a {
    width: 136px;
}
#header-lower-right b {
    font-size: 19px;
}
#header-bottom li a {
    color: #ff3448;
}
#header-bottom li a:hover{
    color: #ff3448;
    background-color:#1c1c1c; 
}
#header-bottom img{
    padding-top: 3px;
}
#nav {
    width: 100%;
    height: 65px;
    display: block;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding-left: 275px;
}
#nav-dropdown {
    display: none;
}
#nav li a {
    color: white;
    font-size: 18px;
    padding-left: 33px;
    padding-top: 27px;
}
#nav li a:hover {
    background-color: black;
    color: #ff3448;
}
#banner{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
}
#banner img {
    width: 100%;
    height: auto;
    
}

#section {
    margin: 0;
    padding: 0;
    height: 974px;
    color: white;
    width: 100%;
}
#section a {
    color: white;
}
#section h3{
    text-transform: uppercase;
    font-size: 43px;
    padding-top: 70px;
    margin-left: 18px;
}
#section h5{
    color: gray;
    font-size: 24px;
    padding-top: 10px;
}
#image1 {
    margin: 140px 0 0 0;
    width: 100%;
    max-width: 500px;
    height: auto;
    float: right;
}
#image2 {
    margin: 125px 0 0 0;
    width: 100%;
    max-width: 450px;
    height: auto;
    float: right;
}
#image3 {
    margin: 75px 0 0 0;
    padding-right: 70px;
    width: 100%;
    max-width: 500px;
    height: auto;
    float: right;
    position: absolute;
}
#image4 {
    margin: 75px 0 0 0;
    padding-right: 70px;
    width: 90%;
    max-width: 420px;
    height: auto;
    float: right;
    position: absolute;
}
#section-upper {
    width: 100%;
    padding: 0;
    margin: 0;
}
#section-upper-l{
    padding: 0;
    margin: 0;
    height: 487px;
    width: 50%;
    background-color: #303030;
}
#section-upper-left {
    width: 40%;
    margin: 100px 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}
#section-upper-r{
    padding: 0;
    margin: 0;
    height: 487px;
    width: 50%;
}
#section-upper-right {
    width: 50%;
    margin: 100px 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}
#section-bottom {
    width: 100%;
    padding: 0;
    margin: 0;
}
#section-bottom-l{
    height: 487px;
    width: 50%;
}
#section-bottom-left {
    width: 50%;
    margin: 100px 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}
#section-bottom-r{
    padding: 0;
    margin: 0;
    height: 487px;
    width: 50%;
    background-color: #303030;
}
#section-bottom-right {
    width: 50%;
    margin: 100px 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}

#products {
    margin: 0;
    background-color: #282828;
    width: 100%;
    height: 842px;
    text-decoration: none;
}
#products h1{
    font-size: 43px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 93px;
    margin-bottom: 25px;
    /* border-bottom: 5px solid #9c1c28; */
}
#product-span {
    border-top: 6px solid #9c1c28;
    width: 11%;
    text-align: center;
    display: block;
    align-content: center;
    margin:auto;
    margin-bottom: 78px;
}
#products h5{
    color: #9c1c28;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    margin: 70px 0 0 0;
    text-decoration: none;
}
#products img{
    width: 280px;
    padding: 15px 0 0 0;
}
#products-section1 {
    display: inline-block;
}
#products-section2 {
    float: left;
}
#products-section5 {
    float: left;
    display: inline-block;
}
#products h3 {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
#products-section1 {
    text-align: center;
    padding: 0 0 0 70px;
    width: 100%;
    text-decoration: none;
}
#products-section2, #products-section5 {
    margin-left: 45px;
    width: 295px;
    height: 447px;
    display: inline-block;
    float: left;
    background-color: #363636;
}
#raiting {
    color: #9c1c28;
    font-size: 20px;
}

#offer {
    margin: 0 auto;
    height: 615px;
    padding: 100px 0 30px 0;
    background-image: url("images/offer2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
    background-repeat:no-repeat;
    /* background-size:contain; */
    background-position:center;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}
#offer h1{
    color: white;
    font-size: 95px;
    padding: 80px 0 0 0;
}
#offer h3{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}
#offer h5{
    color: white;
    font-size: 20px;
}
#offer-left {
    float: left;
    width: 50%;
    text-align: center;
}
#offer-right {
    float: left;
    width: 50%;
    text-align: center;
}
#button {
    margin-top: 20px;
    size: 80px;
    width: 230px;
    border-radius: 25px;
    font-size: 23px;
    background-color: #9c1c28;

}
#button:focus {
    outline:0;
}
#footer {
    margin: 0;
    width: 100%;
    background-color: black;
    justify-content: center;
    display: flex;
    /* border-bottom: 2px solid gray; */
}

#footer-upper {
    width: 100%;
    padding-bottom: 30px;
    height: 610px;
}
#footer-upper-section {
    margin-left: 70px;
    padding: 0 0 0 80px;
}
#footer-upper h1 {
    padding: 110px 0 0 0;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    /* border-bottom: 3px solid #9c1c28; */
}
#quick-span {
    border-top: 6px solid #9c1c28;
    width: 50%;
    text-align: left;
    display: block;
    align-content: left;
    margin-bottom: 20px;
}
#quick-span-lower {
    border-top: 6px solid #9c1c28;
    width: 23%;
    text-align: left;
    display: block;
    align-content: left;
    margin-bottom: 20px;
}
#footer-upper li {
    padding: 17px 0 0 0;
}
#footer-upper li a {
    color: #9c1c28;
    font-size: 18px;
    
}
#footer-upper-section3 {
    margin: 0 0 0 132px;
}
#footer-upper h5 {
    color: #6d6161;
    font-size: 17px;
    padding: 15px 0 0 0;
}
#footer-upper button {
    size: 70px;
    width: 170px;
    background-color: #9c1c28;
    border: none;
}
#footer-upper button:focus {
    outline:0;
}
#footer-input {
    margin: 10px 0 0 0;
    width: 410px;
    height: 43px;
    background-color: gray;
    border: none;
}
#social {
    width: 400px;
}
#social i {
    padding-top: 80px;
    font-size: 32px;
    color: white;
}

#footer-middle {
    margin: 0;
    height: 520px;
    width: 100%;
    background-color: black;
    justify-content: center;
    display: flex;
    /* border-bottom: 2px solid gray; */
    padding-bottom: 30px;
}
#footer-middle-cont {
    margin: 0 0 0 60px;
    width: 100%;
    padding: 30px  0 0 20px;
}
#footer-middle-section {
    width: 550px;
    padding: 0 0 0 80px;
}
#footer-middle h1 {
    padding: 75px 0 0 0;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    /* border-bottom: 3px solid #9c1c28; */
}
#footer-middle p{
    padding-top: 30px;
    font-size: 18px;
    color: #6d6161;
}
#footer-middle-contacts {
    margin: 0;
    padding: 0 0 0 160px;
}
#footer-middle-contacts i {
    font-size: 18px;
    color: #9c1c28;
}
#footer-middle li {
    padding-top: 15px;
}
#footer-middle span {
    padding: 0 0 0 20px;
    font-size: 20px;
    font-weight: bold;
}

#footer-lower {
    margin: 0;
    background-color: black;
    padding: 10px 0 0 0;
    width: 100%;
    height: 150px;
}
#footer-lower-cont{
    width: 100%;
}
#footer-lower span {
    color: white;
    color: #887979;
}
#footer-lower #copyright {
    padding-top: 50px;
    padding-left: 190px;
    font-size: 18px;
    font-weight: bold;
}
#footer-lower ul {
    margin: 10px 0 0 390px;
}
#footer-lower ul li{
    padding-left: 10px;
    padding-top: 30px;
}
#cards {
    padding-top: 10px;
    margin-left: 130px;
}
#cards i {
    padding-left: 13px;
    font-size: 29px;
    color: white;
}

/* CONTACTS */

#contacts {
  
    padding: 0 0 30px 0;
}

#contacts h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid red;
}
#contacts ul li {
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
}
#contacts li a span {
    color: white;
}
#contacts form input{
    border-radius: 2px;
}
#map {
    padding-top: 20px;
    /* width: 500px; */
    align-content: center;
}

/* ABOUT */

#about h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid red;
}
#about h3{
    text-align: center;
    color: white;
    border-bottom: 3px solid red;
    padding: 10px 0 20px 0;
}
#about h2 {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px 0 20px 0;
}
#about-lower {
    display: flex;
    justify-content: center;
    background-color: #363636;
}
#about-lower img {
    padding: 20px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about-lower h4{
    color: white;
    text-align: center;
}
#about-lower h5 {
    color: white;
    font-size: 18px;
}
#footer-span-upper {
    border-top: 1px solid #595959;
    width: 89%;
    text-align: center;
    display: block;
    align-content: center;
    margin: 0 0 0 50px;
}
#footer-span-lower {
    border-top: 1px solid #595959;
    width: 85%;
    text-align: center;
    display: block;
    align-content: center;
    margin: 0 0 0 150px;
}



@media only screen and (max-width: 1700px) {
    #header-upper {
        padding-left: 910px; 
        height: 50px;;
        display: block;

        color: #9c1c28;
    }
    #header-bottom {
        height: 90px;
        padding: 10px 0 0 0;
        margin-left: 240px;
        width: 1500px;
        color: #9c1c28;
    }
    #contact-upper {
        padding-right: 40px;
    }
    #contact-upper i {
        font-size: 30px;
        margin-left: 280px;
    }
    #contact-upper h6 {
        color: gray;
        margin-left: 100px;
        font-size: 14px;
    }
    #nav {
        width: 100%;
        height: 55px;
        display: block;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding-left: 250px;
    }
    #nav-dropdown {
        display: none;
    }
    #nav li a {
        color: white;
        font-size: 18px;
        padding-left: 26px;
        padding-top: 7px;
    }
    #image1 {
        max-width: 400px;
    }
    #image2 {
        max-width: 400px;
        position: absolute;
    }
    #image3 {
        max-width: 400px;
        position: absolute;
    }
    #image4 {
        max-width: 400px;
        position: absolute;
    }
    #products-section2 {
        margin-left: 25px;
        width: 265px;
        height: 447px;
        display: inline-block;
        float: left;
        background-color: #363636;
    }
    #products img{
        width: 250px;
        padding: 15px 0 0 0;
    }
    #footer-upper-section {
        margin-left: 30px;
        padding: 0 0 0 80px;
    }
    #footer-upper-section3 {
        margin: 0 0 0 122px;
    }
    #footer-middle-cont {
        margin: 0 0 0 30px;
        width: 100%;
        padding: 30px  0 0 20px;
    }
    #footer-middle-section {
        width: 450px;
        padding: 0 0 0 80px;
    }
    #footer-lower ul {
        margin: 10px 0 0 250px;
    }
  }

  @media only screen and (max-width: 1370px) {
    #header-upper {
        padding-left: 590px; 
        width: 90%;
        height: 50px;;
        display: block;

        color: #9c1c28;
    }
    #header-bottom {
        padding: 10px 0 0 0;
        margin-left: 140px;
        width: 90%;
        color: #9c1c28;
    }
    #contact-upper {
        padding-right: 20px;
    }
    #contact-upper i {
        font-size: 20px;
        margin-left: 200px;
    }
    #contact-upper h6 {
        color: gray;
        margin-left: 50px;
        font-size: 13px;
    }
    #nav {
        width: 100%;
        height: 55px;
        display: block;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding-left: 140px;
    }
    #nav-dropdown {
        display: none;
    }
    #nav li a {
        color: white;
        font-size: 18px;
        padding-left: 26px;
        padding-top: 7px;
    }
    #image1 {
        max-width: 350px;
    }
    #image2 {
        padding-top: 90px;
        max-width: 350px;
    }
    #image3 {
        max-width: 400px;
        position: absolute;
    }
    #image4 {
        max-width: 400px;
        position: absolute;
    }
    #products-section2 {
        margin-left: 15px;
        width: 225px;
        height: 447px;
        display: inline-block;
        float: left;
        background-color: #363636;
    }
    #products img{
        width: 200px;
        padding: 15px 0 0 0;
    }
    #footer-upper-section {
        margin-left: 5px;
        padding: 0 0 0 80px;
    }
    #footer-upper-section3 {
        margin: 0 0 0 20px;
    }
    #footer-input {
        width: 330px;
    }
    #footer-middle-cont {
        margin: 0 0 0 30px;
        width: 100%;
        padding: 30px  0 0 20px;
    }
    #footer-middle-section {
        width: 400px;
        padding: 0 0 0 50px;
    }
    #footer-lower ul {
        margin: 10px 0 0 150px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    #header-upper {
          padding-left: 320px; 
          width: 90%;
          height: 50px;;
          display: block;
          color: #9c1c28;
      }
    #contact-upper {
        display: none;
    }
    .logo {
        margin-right: 120px;
    }
    #nav {
        width: 100%;
        height: 55px;
        display: block;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding-left: 125px;
    }
    #nav-dropdown {
        display: none;
    }
    #image1 {
        max-width: 280px;
        position: absolute;
    }
    #image2 {
        padding-top: 160px;
        max-width: 280px;
    }
    #image3 {
        max-width: 400px;
        position: absolute;
    }
    #image4 {
        max-width: 320px;
        position: absolute;
    }
    #products-section2 {
        margin-left: 5px;
        width: 155px;
        height: 357px;
        display: inline-block;
        float: left;
        background-color: #363636;
    }
    #products img{
        width: 140px;
        padding: 15px 0 0 0;
    }
    #footer-upper-section {
        margin-left: 5px;
        padding: 0 0 0 80px;
    }
    #footer-upper-section3 {
        margin: 0 0 0 20px;
    }
    #footer-input {
        width: 330px;
    }
    #footer-middle-cont {
        margin: 0 0 0 30px;
        width: 100%;
        padding: 30px  0 0 20px;
    }
    #footer-middle-section {
        width: 400px;
        padding: 0 0 0 50px;
    }
    #footer-lower ul {
        margin: 10px 0 0 150px;
    }

    }

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        body {
            margin: 0 auto;
            width: 1050px;
            background-color: #1c1c1c;
        
        }
        header{
            margin: 0 auto;
            height: 110px;
        }
        #header-upper {
            display: none;
        }
        #header-bottom {
            width: 900px;
        }
    
        .logo {
            margin-left: 200px;
            padding-right: 150px;
            text-align: center;
        }
        #contact-upper {
            display: none;
        }
        #header-lower-right a{
            width: 80px;
        }
        #header-lower-right b {
            font-size: 10px;
        }
        #nav li a {
            padding: 0 auto;
        }
        #image1 {
            padding-top: 170px;
            max-width: 270px;
        }
        #image2 {
            margin: 195px 0 0 0;
            width: 100%;
            max-width: 235px;
            height: auto;
            float: right;
            position: absolute;
        }
        #image3 {
            padding-top: 170px;
            max-width: 320px;
        }
        #image4 {
            margin: 175px 0 0 0;
            padding: 0;
            width: 90%;
            max-width: 230px;
            height: auto;
            float: right;
            position: absolute;
        }
        #products-section2, #products-section5 {
            margin-left: 42px;
            width: 175px;
            height: 397px;
            display: inline-block;
            background-color: #363636;
        }
        #products-section5 {
            display: none;
        }
        #products img{
            width: 160px;
            padding: 15px 0 0 0;
        }
        #footer-upper {
            width: 100%;
            padding-bottom: 30px;
            height: auto;
            text-align: center;
        }
        #footer-upper-section {
            margin-left: 20px;
            padding: 0 0 0 20px;
            text-align: center;
        }
        #footer-upper-section {
            margin: 0 auto;
        }
        #footer-upper-section3 {
            width: 98%;
            
        }
        #footer-span-upper {
            width: 70%;
        }
        #footer-input {
            width: 330px;
        }
        #footer-middle {
            height: auto;
        }
        #social {
           display: none;
        }
        #footer-middle-cont {
            margin: 0 0 0 30px;
            width: 100%;
            padding: 30px  0 0 20px;
        }
        #footer-middle-section {
            width: 100%;
            padding: 0 60px 0 50px;
        }
        #footer-middle-contacts {
            padding: 0;
            margin: 0 0 0 50px;
            width: 700px;
            float: left;
        }
        #quick-span {
            width: 51%;
            margin: auto;
        }
        #footer-lower {
            height: auto;
            margin: 0;
            padding: 0;
        }
        #footer-span-lower {
            width: 65%;
        }
        #footer-lower ul {
            margin: 10px 0 0 250px;
        }
        #copyright {
            margin: 0 auto;
        }
        
    }

    @media (min-width: 481px) and (max-width: 767px) {
        #main {
            width: 100%;
        }
        #header-upper {
              padding-left: 90px; 
              width: 100%;
              height: 50px;;
              color: #9c1c28;
              
          }
        #header-span-upper {
            display: none;
        }  
        #header-upper li a {
            display: inline;
            float: left;
        }
        #header-upper li a b {
            color: #9c1c28;
            padding-right: 0px;
            display: none;
        }
        .dropdown-toggle btn {
            float: right;
        }
        #header-upper li a i {
            padding-right: 0px;
            display: inline-flex;
        }
        #contact-upper {
            display: none;
        }
        #header-bottom {
            margin-left: 70px;
        }
        #header-lower-right {
            display: none;
        }
        #header-span-lower {
            display: none;
        }
        #nav-dropdown {
            display: block;
        }
        #nav-main{
            display: none;
        }
        #nav-dropdown i {
            font-size: 40px;
            color: white;
        }
        .dropdown-menu{
            background-color: black;
        }
        .dropdown-menu a {
            color: white;
            text-decoration: none;
            font-size: 23px;
            padding-left: 5px;
        }
        .dropdown-menu a:hover {
            color: #9c1c28;
        }
        #hamburger {
            background-color: black;
        }
        
        
      }

    @media (min-width: 320px) and (max-width: 480px) {
        body {
            margin: 0 auto;
            width: 910px;
        }
        #main {
            width: 396px;
        }
        header {
            height: 160px;
        }
        #header-upper {
            display: none;
        } 
        #header-bottom {
            width: 550px;
        }
        .logo {
            width: 100%;
            display: block;
            padding: 0 0 0 180px;
            float: none;
        }
        .logo img {
            width: 300px;
        }
        #header-lower-right {
            display: block;
            float: left;
            padding: 0 0 0 50px;
        }
        #header-span-lower {
        display: none;
        }
        #contact-upper {
        display: none;
        }
        #nav {
            display: block;
            padding: 0 0 0 20px;
            margin: 5px 0 0 0;
            float: left;
        }
        #nav-main{
            display: none;
        }
        #nav-dropdown {
            padding: 0;
            margin: 0;
            display: block;
            float: left;
        }
        #nav-dropdown i {
            font-size: 40px;
            color: white;
        }
        .dropdown-menu{
            background-color: black;
        }
        .dropdown-menu a {
            color: white;
            text-decoration: none;
            font-size: 23px;
            padding-left: 7px;
        }
        .dropdown-menu a:hover {
            color: #9c1c28;
        }
        #hamburger {
            background-color: black;
        }
        #section {
            margin: 0;
            height: auto;
            color: white;
            width: 100%;
        }
        #image1 {
            max-width: 320px;
            /* position: absolute; */
            float: right;
        }
        #image2 {
            max-width: 250px;
            margin-left: 180px;
        }
        #image3 {
            padding: 0;
            max-width: 320px;
            float: right;
            margin-left: 110px;
        }
        #image4 {
            padding: 0;
            max-width: 250px;
            /* position: absolute; */
            float: right;
            margin-left: 140px;
        }
        #section-upper-l{
            padding: 0;
            margin: 0;
            height: 387px;
            width: 100%;
            background-color: #303030;
        }
        #section-upper-left {
            width: 40%;
            margin: 100px 0 0 20px;
            display: inline-block;
            vertical-align: middle;
        }
        #section-upper-r{
            padding: 0;
            margin: 0;
            height: 387px;
            width: 100%;
        }
        #section-upper-right {
            width: 50%;
            margin: 100px 0 0 20px;
            display: inline-block;
            vertical-align: middle;
        }
        #section-bottom-l{
            height: 387px;
            width: 100%;
            background-color: #303030;
        }
        #section-bottom-left {
            width: 50%;
            margin: 100px 0 0 20px;
            display: inline-block;
            vertical-align: middle;
        }
        #section-bottom-r{
            padding: 0;
            margin: 0;
            height: 387px;
            width: 100%;
            background-color: #1c1c1c;
            
        }
        #section-bottom-right {
            width: 50%;
            margin: 100px 0 0 20px;
            display: inline-block;
            vertical-align: middle;
        }
        #products {
            height: auto;
            padding: 0 0 40px 0 ;
        }
        #product-span {
            border-top: 6px solid #9c1c28;
            width: 51%;
            text-align: center;
            display: block;
            align-content: center;
            margin:auto;
            margin-bottom: 78px;
        }
        #products-section2 {
            margin-left: 50px;
            margin-top: 40px;
            /* margin: 0 auto; */
            width: 285px;
            height: 377px;
            display: inline-block;
            float: left;
            background-color: #363636;
        }
        #products-section5 {
            display: none;
        }
        #products img{
            width: 270px;
            padding: 15px 0 0 0;
        }
        #offer {
            background-size: 130% 130%;
        }
        #offer-left{
            display: none;
        }
        #footer-upper {
            width: 100%;
            padding-bottom: 30px;
            height: auto;
            text-align: center;
        }
        #footer-upper-section {
            margin-left: 20px;
            padding: 0 0 0 20px;
            text-align: center;
        }
        #footer-upper-section {
            margin: 0 auto;
        }
        #footer-span-upper {
            width: 70%;
        }
        #footer-input {
            width: 330px;
        }
        #footer-middle {
            height: auto;
        }
        #social {
           display: none;
        }
        #footer-middle-cont {
            margin: 0 0 0 30px;
            width: 100%;
            padding: 30px  0 0 20px;
        }
        #footer-middle-section {
            width: 100%;
            padding: 0 60px 0 50px;
        }
        #footer-middle-contacts {
            padding: 0;
            margin: 0 0 0 50px;
        }
        #quick-span {
            width: 51%;
            margin: auto;
        }
        #footer-lower {
            height: auto;
            margin: 0;
            padding: 0;
        }
        #footer-span-lower {
            width: 65%;
        }
        #footer-lower ul {
            margin: 10px 0 0 250px;
        }
        #copyright {
            margin: 0 auto;
        }
        
    }  
